<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>command: <input type="text" placeholder="command" id="command"></div>
    <div id="explain" style="background: rgb(240, 240, 240);">
    <div>窓からunixコマンドを使うことでシステムに入り込めてしまう。あくまでテスト用なのでアップロードはしないこと。内部的な処理にだけ使わないと危険。</div>
    <ul>
      ファイルを生成して、標準出力をファイルに書き込む。確認できる。
      htmlやCSSも記述できる。
      <li>touch fusan.txt</li>
      <li>echo hello world > fusan.txt</li>
      <li>cat fusan.txt</li>
      ----> fusan
    </ul>
    <ul>
      Nodejsから引数をPythoに渡す方法。
      tensorFlowなどAI関連はPythonが多いので活用できる手法
      <li>python test.py fusan b</li>
      <li>pythonで処理されたデータが帰ってくる</li>
      <li>そのデータをresponseでクライアントに返す。</li>
      ----> fusan
    </ul>
    </div>
    <h1 id="result"></h1>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      document.getElementById('command').addEventListener('change',send, false);
      function send() {
        var command = $.ajax({
          url: '/child_process/test',
          type: 'GET',
          data: {
            cmd: this.value
          }
        });

        command.done(function(data) {
          document.getElementById('result').innerHTML = data;
        });
      }
    </script>
  </body>
</html>
