body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 760px) {
  body {
    padding: 0;
  }
}

a {
  color: #00B7FF;
}

header {
	background: rgba(0,0,0,.04);
}

header button {
	margin:.2rem 0 0 .2rem;
	padding: .4rem;
	width: auto;
	height: auto;
}

#viewArea {
	margin: 0;
	padding: 0;
	height: 99%;
	width: 99%;
}

#viewHeader,#submit {
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
	color: white;
	background: rgba(0,0,0,.64);
	box-shadow: 0 0 2px gray;
}

#submit > * {
	margin: .4rem;
	height: 100%;
}

#viewHeaderTitle {
	margin: .4rem 0;
	padding: .4rem;
	box-shadow: 0 1px 2px gray;
}

#viewHeaderTitle:first-letter {
	margin: 0 .08rem 0 0;
	color: red;
	font-size: 1.2rem;
}

#dot {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: red;
}

#socketTestField {
	width: 100%;
	height: 300px;
	overflow: scroll;
	box-shadow: 0 0 1px gray;
}

#socketTestFieldInner {
	width: 300px;
	height: auto;
}
#chat {
	width: 100%;
}

#chatTimeLine {
	float: left;
	margin: 2% 0 0 0;
	width: 100%;
}

#stage {
	overflow: scroll;
	float: left;
	width: 100%;
	height: 300px;
}

#stage > div > span {
	display: inline-block;
	margin: 4px ;
	padding: 0;
}

#stage > div {
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;
	box-shadow: 0 0 1px gray;
}

/* chat */
.profile {
	display: inline-block;
	margin: 4px;
	padding: 0;
	height: 36px;
	width: 36px;
	line-height: 36px;
	background: rgba(0,0,0,.32);
	box-shadow: 0 0 1px gray, 1px 1px 1px black;
	border-radius: 36px;
}

.time {
	height: 100%;
}

.users {
	height: 100%;
}

.comment {
	height: auto;
}

.chatRemove {
	color: red;
	font-weight: bold;
}

.newChat {
	margin: 0;
	padding: 0;
	background: rgba(0,0,0,.16);
	-webkit-filter: blur(0px);
	-webkit-transition: all 2s ease 0 ;
}

.photoFrame {
	display: inline-block;
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
	background: white;
	box-shadow: 0 0 1px gray;
}

.photoFrame > img {
	margin: 4px;
	box-shadow: 0 0 1px gray;
}

#agreement {
  margin: 0;
  padding: 0 0 0 0.5rem;
  border-left: 0.5rem solid red;
}
#agreement > span {
  display: inline-block;
  margin: 0 1rem 0 0;
}
#agree {
  margin-left: 0;
}

#stackedChart {
  margin: 4px 4px 4px 0;
  width: 50%;
  height: 32px;
  box-shadow: 0 0 2px gray;
}

#agreebar {
  float: left;
  height: 32px;
  text-align: center;
  line-height: 32px;
  color: white;
  background: rgb(252, 82, 82);
}

#disagreebar {
  float: right;
  height: 32px;
  text-align: center;
  line-height: 32px;
  color: white;
  background: rgb(23, 128, 204);
}

#pieChart {
  position: relative;
  width: 320px;
  height: 320px;
}
