body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  position: relative;
	background: rgba(0,0,0,.04);
}

header button {
	margin:.2rem 0 0 .2rem;
	padding: .4rem;
	width: auto;
	height: auto;
}

#modal {
  position: fixed;
  bottom: 0;
  margin: 0 0 0 -58px; /* body padding 50px body margin 8px*/
  padding: 0;
  height: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.08);
}

#modal > div {
  margin: 5% auto;
  padding: 0;
  width: 80%;
  height: 80%;
  background: white;
  box-shadow: rgba(255, 255, 255, 0.5);
}

#modal > div > *{
  margin: 1%;
}

#viewArea {
	margin: 0;
	padding: 0;
	height: 99%;
	width: 100%;
}

#viewHeader {
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
	color: white;
	background: rgba(0,0,0,.64);
	box-shadow: 0 0 2px gray;
}

#viewHeaderTitle {
	margin: .4rem 0;
	padding: .4rem;
	box-shadow: 0 1px 2px gray;
}

#viewHeaderTitle:first-letter {
	margin: 0 .08rem 0 0;
	color: red;
	font-size: 1.2rem;
}

#dot {
  position: absolute;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: red;
}

#lineX {
  position: absolute;
  width: 100%;
  font-size: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
}

#lineY {
  position: absolute;
  height: 100%;
  font-size: 0.5rem;
  border-left: 1px solid rgba(0, 0, 0, 0.32);
}

#testField {
  position: relative;
  margin: 0.2rem 0 0 0;
	width: 100%;
	height: 300px;
	overflow: hidden;
	/*box-shadow: 0 0 1px gray;*/
}

#testFieldInner {
	width: 300px;
	height: auto;
}

#chat {
  margin: 0;
	width: 100%;
  height: auto;
}

#chatTimeLine {
	float: left;
	margin: 0;
  width: 100%;
}

#stage {
	overflow: scroll;
	float: left;
  margin: 0;
	width: 100%;
	height: 300px;
  box-shadow: 0 0 1px gray;
}

#stage > div > span {
	display: inline-block;
	margin: 4px ;
	padding: 0;
}

#stage > div {
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;
	box-shadow: 0 0 1px gray;
}

#submit {
	margin:0;
	padding: 0;
	width: auto;
  height: 2rem;
	color: white;
	background: rgba(0,0,0,.64);
}

#submit > #messageCard {
  margin:0;
  padding: 0;
  width: 2rem;
  height: inherit;
  line-height: 2rem;
  text-align: center;
  font-weight: bold;
}

#sub_page_help {
  float: right;
  font-weight: bold;

}

/* ------- geolocation module -------- */
#googleMap {
  float: left;
  margin: 0;
  padding: 0;
  width: 70%;
  height: 100%;
}

#infomation {
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
  width: 30%;
  height: 90%;
  overflow: scroll;
}

#infomation img   {
  margin: .5rem;
}

.removeData {
  color: red;
  float: right;
}

.wrap {
  margin: 0 0 1rem 0;
  border-bottom: 1px dotted gray;
}

.wrap > div {
  margin: 0 0 0 0.3rem;
  color: gray;
}

#mappingButtons  {
  float: left;
  width: 30%;
  height: 10%;
  background: rgb(255, 255, 255);
  -webkit-filter: blur(0);
}

#mappingButtons > img {
  margin: 0;
  float: right;
}

.subModules {
  margin: 0 .2rem 0 0;
  color: gray;
  background: none;
	border: none;
	border-radius: 0;
	outline: none;
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#presentLocation {
  margin-top: 0;
  width: 100%;
  height: auto;
}

/* chat */
.profile {
	display: inline-block;
	margin: 4px;
	padding: 0;
	height: 36px;
	width: 36px;
	line-height: 36px;
	background: rgba(0,0,0,.32);
	box-shadow: 0 0 1px gray, 1px 1px 1px black;
	border-radius: 36px;
}

.time {
	height: 100%;
}

.users {
	height: 100%;
}

.comment {
	height: auto;
}

.removeChat {
	color: red;
	font-weight: bold;
}

.newChat {
	margin: 0;
	padding: 0;
	background: rgba(0,0,0,.16);
	-webkit-filter: blur(0px);
	-webkit-transition: all 2s ease 0 ;
}

.photoFrame {
	display: inline-block;
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
	background: white;
	box-shadow: 0 0 1px gray;
}

.photoFrame > img {
	margin: 4px;
	box-shadow: 0 0 1px gray;
}

#messageCard {
  position: relative;
  line-height: 100%;
  color: white;
}

#agreement {
  margin: 0;
  padding: 0;
}
#agreement > span {
  display: inline-block;
  margin: 0 1rem 0 0;
  text-shadow: 0.05rem 0.05rem 0px rgb(235, 235, 235);
}
#agreement > span:first-letter {
  margin: 0 0.1rem 0 0;
  color: red;
  font-size: 1rem;
}
#agree {
  margin-left: 0;
}

.stackedChart {
  margin: 4px 4px 4px 0;
  width: 40%;
  height: 32px;
  box-shadow: 0 0 2px gray;
}

#agreebar {
  float: left;
  height: 32px;
  width: auto;
  text-align: center;
  line-height: 32px;
  color: white;
  background: rgb(252, 82, 82);
  -webkit-transition:2s ease 0;
}

#disagreebar {
  float: right;
  height: 32px;
  width: auto;
  text-align: center;
  line-height: 32px;
  color: white;
  background: rgb(23, 128, 204);
  -webkit-transition:2s ease 0;
}

#pieChart {
  position: relative;
  width: 320px;
  height: 320px;
}

/* stock */
#console {
  height: 2rem;
  background: gray;
}
#console span {
  display: inline-block;
  margin:0 1rem 0 0;
  padding: 0 0 0 0.5rem;
  height: 2rem;
  line-height: 2rem;
  color: white;
}

.axis path, .axis line {
	fill:none;
	stroke:gray;

}
.axis text {
	font-size: .64em;
}

/* ------- reservesystem2 ------------- */
.calendar {
  padding:20px 0 0 20px;
  margin:20px 0 0 20px;
  background:white;
  float:left;
}
.calendar_header {
  background: rgb(170, 169, 169);
  color: rgb(240, 240, 240);
  text-align: center;
  line-height: 40px;
}

.sun {
  background: rgba(255, 0, 0, 0.71);
  color: white;
}

.other {
  background: rgb(247, 247, 247);
  color: gray;
}

.stock {
  float:right;
  margin:0;
  padding:0;
  text-align:center;
  border:0 solid transparent;
  box-shadow:-1px 1px 1px gray;
  /* border-radius:100%; */
  background:white;
  color:red;
}

.stock_c {
  float:right;
  margin:0;
  padding:0;
  text-align:center;
  box-shadow: 0 0 1px gray inset;
  /* border-radius:100%; */
  background:white;
  color:red;
}

.form_head {
  text-align:center;
  background:rgb(36, 127, 156);
  color:white;
}

.form_data {
  margin: 4px 0 0 4px;
  color: gray;
}

/* --------- reservesystem2 end --------- */
@media screen and (max-width: 760px) {
  body {
    margin: 0;
    padding: 0;
  }

  #modal {
    position: fixed;
    left: 0;
    bottom: 0;
    margin:0; /* body padding 50px body margin 8px*/
    width: 100%;
  }

  #modal > div {
    margin: 5% auto;
    padding: 0;
    width: 90%;
    height: 90%;
    background: white;
    box-shadow: rgba(255, 255, 255, 0.5);
  }
}

/* mail */
#open_mail_form {
  display: inline-block;
  float: right;
  line-height: 28px;
  margin-right: 4px;
}

#mail_title {
  padding-left: 4px;
  margin-left: 6px;
}

.calc_tab {
  background: rgb(196, 196, 196);
  color: white;
}
